<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title><%= title %></title>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" media="print" href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.print.css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link href="/css/calendar.css" rel="stylesheet" >
<!--link href="/css/chat.css" rel="stylesheet"-->

</head>

<body>
  <div class = "header">
  <i class="fa fa-bars" style="width:" onclick="openNav()"></i>
    <a style="color:white;" href="/">KALIV</a>
     
</div>

<div id="mySidenav" class="sidenav">
  <div style="margin-left : 20px; font-size:30px; margin-bottom:40px; color:lightgray;">
  Chat Rooms
</div>
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
</div>


<div class="main_section" id="main">
   <div class="container">
      <div class="chat_container">
         <div class="col-sm-7 ">
        <div class="row">
              <div  id='calendar'></div>
            </div>
         </div>
         <!--chat_sidebar-->
     
     
         <div class="col-sm-5 message_section">
<div class="row">
     <div class="new_message_head">
     <div class="pull-left">

      <button><!--i class="fa fa-plus-square-o" aria-hidden="true"></i--> Chatroom name</button></div>
      <div class="pull-right">
        <table BORDER="0">
        <tr>
          <td>
        <div class="dropdown">
          <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Members
          <span class="caret"></span>
          </button>

          <ul id = "chatmember" class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">

          </ul>
        </div>
      </td>
      <td>
        <button id="transb" onclick="outroom()" ><i style="font-size:20px;" class="fas fa-sign-out-alt"></i></button>
      </form>
    </td>
  </tr>
</table>
      </div>
     </div><!--new_message_head-->
     
     <div  class="chat_area" >
     <ul  id="chatroom"  class="list-unstyled scroll" >
     <!--li class="left clearfix">
                     <span class="chat-img1 pull-left">
                          <img src="https://static.licdn.com/scds/common/u/images/themes/katy/ghosts/person/ghost_person_200x200_v1.png" alt="User Avatar" class="img-circle">
                        </span>
                        <div class="bubble me clearfix">
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</p>
                <div class="chat_time pull-right">09:40PM</div>
                        </div>
                      </li>
          
                      <li class="left clearfix admin_chat">
                        <span class="chat-img1 pull-right">
                          <img src="https://static.licdn.com/scds/common/u/images/themes/katy/ghosts/person/ghost_person_200x200_v1.png" alt="User Avatar" class="img-circle">
                        </span>
                        <div class="bubble you clearfix">
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</p>
                  <div class="chat_time pull-left">09:40PM</div>
                        </div>
                  </li-->
          
        
     
     
     </ul>
     </div><!--chat_area-->
          <div class="message_write">
       <textarea style="width:70%; margin-right: 5px;" id="mytext" class="form-control mytext pull-left"  placeholder="type a message"></textarea>
 
                
                 
       <span style="width:25%"class="chat_bottom pull-right"><a href="#" style="margin-top:0px;" class=" upload_btn"><i class="fa fa-cloud-upload" aria-hidden="true"></i>
 Add Files</a>
 <button href="#" class=" btn btn-success" onclick="sendMessage()" >
 Send</button></span></div>
     </div>
     </div>
         </div> <!--message_section-->
      </div>
   </div>
</div>

<script src="/js/jquery.js"></script>
<script src="/js/socket.io.js"></script>
<script src="https://use.fontawesome.com/45e03a14ce.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.min.js"></script>

<script src="/js/chat.js"></script>
<script src="/js/calendar.js"></script>

<!--script>
  $(document).ready(function() {
  // page is ready
      $('#calendar').fullCalendar({
      // emphasizes business hours

// header
header: {
  left: 'prev,next today addEventButton',
  center: 'title',
  right: 'month,agendaWeek,agendaDay'
},
customButtons: {
      addEventButton: {
        text: 'add event',
        click: function() {
          var eventname = prompt('Enter a event name');
          var dateStart = prompt('Enter a start date in YYYY-MM-DD format');
          var dateEnd = prompt('Enter a end date in YYYY-MM-DD format');
          var dateS = moment(dateStart);
          var dateE = moment(dateEnd);

          if (dateS.isValid() && dateE.isValid()) {
            $('#calendar').fullCalendar('renderEvent', {
              id: eventname+dateS,
              title: eventname,
              start: dateS,
              end: dateE,
              allDay:true

            
            });

            alert('Great. Now, update your database...');
          } else {
            alert('Invalid date.');
          }
        }
      }
    },
    eventClick: function(calEvent, jsEvent, view) {

    /*alert('Event: ' + calEvent.title);
    alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
    alert('View: ' + view.name);

    // change the border color just for fun
    $(this).css('border-color', 'red');*/
    var remove = confirm("Do you want to remove?");
    if(remove)
    {
      $('#calendar').fullCalendar('removeEvents', calEvent._id);
    }

  }
    
  })
      var elements;
    //add chat memebers
   
    $.get("/chat/get/enter/roomlist", function(roomlist) {
        for(var i=0;i< roomlist.length;i++)
        {
            document.getElementById("mySidenav").innerHTML = document.getElementById("mySidenav").innerHTML + '<a onclick=\"redirectroom(\''+roomlist[i]+ '\')\"><img src=\"https://static.licdn.com/scds/common/u/images/themes/katy/ghosts/person/ghost_person_200x200_v1.png\" style=\"height: 34px; width: 34px; margin-right:10px;\" class=\"img-circle\">' + roomlist[i] + '</a>';
        }
    });
    for(var i=0; i< 2;i++)
    {
        elements = '<li class="chatmembox"><img class="chat-img2 img-circle" alt="User Avatar"  src="https://static.licdn.com/scds/common/u/images/themes/katy/ghosts/person/ghost_person_200x200_v1.png"> &nbsp me &nbsp&nbsp <i class = "fa fa-thumbs-up"></i> &nbsp<i class = "fa fa-thumbs-down"></i></li>';
        $("#chatmember").append(elements);
    }

    $(".mytext").on("keyup", function(e){

        if ((e.keyCode || e.which) == 13){
            myfunction();
         document.getElementById('mytext').value = "";
        }
    });
});

 




var me = {};
me.avatar = "https://static.licdn.com/scds/common/u/images/themes/katy/ghosts/person/ghost_person_200x200_v1.png";
me.username="me";
var you = {};
you.avatar = "https://static.licdn.com/scds/common/u/images/themes/katy/ghosts/person/ghost_person_200x200_v1.png";
you.username="you";

function formatAMPM(date) {
    var hours = date.getHours();
    var minutes = date.getMinutes();
    var ampm = hours >= 12 ? 'PM' : 'AM';
    hours = hours % 12;
    hours = hours ? hours : 12; // the hour '0' should be '12'
    minutes = minutes < 10 ? '0'+minutes : minutes;
    var strTime = hours + ':' + minutes + ' ' + ampm;
    return strTime;
}            

//-- No use time. It is a javaScript effect.
function insertChat(who, text, time){
    if (time === undefined){
        time = 0;
    }
    var control = "";
    var date = formatAMPM(new Date());
    
    if (who == "me"){
        control = '<li  class="left clearfix admin_chat">' +
                        
                        '<span class="chat-img1 pull-right"><img class="img-circle" alt="User Avatar"  src="'+ me.avatar +'" />'+'<div style="text-align:center;">'+me.username+'</div></span>' 
                        +
                            '<div class="bubble you clearfix">' +
                                '<p >'+ text +'</p>' +
                                '<div class="chat_time pull-left">'+date+'</div>' +
                        
                            '</div>'+

                    '</li>';                    
    }else{
        control = '<li class="left clearfix admin_chat">' +
                        
                        '<span class="chat-img1 pull-left"><img class="img-circle" alt="User Avatar" src="'+ you.avatar +'" /></span>' +
                            '<div class="bubble me clearfix">' +
                                '<p>'+ text +'</p>' +
                                '<div class="chat_time pull-right">'+date+'</div>' +
                            '</div>' +
                        
                    '</li>';
    }
    setTimeout(
        function(){ 
            var element = document.getElementById("chatroom");                       
            $("#chatroom").append(control).animate({scrollTop : element.scrollHeight });

            
        }, time);

    
}


function resetChat(){
    $("ul").empty();
}

$(".mytext").on("keydown", function(e){
    if (e.which == 13){
        var text = $(this).val();
        if (text !== ""){
            insertChat("me", text);              
            $(this).val('');
        }
    }
});

$('body > div > div > div:nth-child(2) > span').click(function(){
    $(".mytext").trigger({type: 'keydown', which: 13, keyCode: 13});
})

//-- Clear Chat
resetChat();

function myfunction()
{

    var inserttext = document.getElementById('mytext').value;
    console.log(inserttext);
    if(inserttext != '\n' && inserttext !="")
    {
    insertChat("me",inserttext,0);
    document.getElementById('mytext').value="";
  }

}
//-- Print Messages
/*insertChat("me", "Hello Tom...", 0);  
insertChat("you", "Hi, Pablo", 1500);
insertChat("me", "What would you like to talk about today?", 3500);
insertChat("you", "Tell me a joke",7000);
insertChat("me", "Spaceman: Computer! Computer! Do we bring battery?!", 9500);
insertChat("you", "LOL", 12000);*/


//-- NOTE: No use time on insertChat.

/* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
/* Set the width of the side navigation to 250px and the left margin of the page content to 250px and add a black background color to body */
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";

}

/* Set the width of the side navigation to 0 and the left margin of the page content to 0, and the background color of body to white */
function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft = "0";

}
function outroom()
{
    var out = confirm("Are you sure to go out?");
    if(out)
    {
        window.location.replace('/');
    }
}
function redirectroom(roomname)
{
    $.get('/chat/get/my/username', function(res) {
        let username = res;
        $.post('/chat/enter', {roomName: roomname, username:username}, function(res) {
            location.href = res;
        });
    });
}
</script-->

</body>
</html>
