<!DOCTYPE html>

<html>

<head>
    <title><%= title %></title>
    <link type="text/css" rel="stylesheet" href="/css/index.css">
</head>

<body>
    <div class = "header">
            <i class="fa fa-bars" style="width:" onclick="openNav()"></i>
                KALIV
    </div>
    <div id="mySidenav" class="sidenav">
            <div style="margin-left : 20px; font-size:30px; margin-bottom:40px; color:lightgray;">
            Chat Rooms
          </div>
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            
    </div>
          
              

    <div id="container">
        <div id="logo">
            <img src="/img/logo.jpg" width="100" height="80" alt="No image">
        </div>
    </div>

    <div id="search">
        <form onsubmit="return redirectRoom()">
            <input type="text" id="search_box" name="keyword">
            <input type="submit" value="search">
        </form>
    </div>

<script src="/js/jquery.js"></script>
<script src="https://use.fontawesome.com/45e03a14ce.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>


$(document).ready(function() {
    var elements;
    //add chat memebers
   
    $.get("/chat/get/enter/roomlist", function(roomlist) {
        for(var i=0;i< roomlist.length;i++)
        {
            document.getElementById("mySidenav").innerHTML = document.getElementById("mySidenav").innerHTML+ '<a onclick="redirectroom('+roomlist[i]+')"><img src="https://static.licdn.com/scds/common/u/images/themes/katy/ghosts/person/ghost_person_200x200_v1.png" style="height: 34px; width: 34px; margin-right:10px;"class="img-circle">'+roomlist[i]+'</a>';
        }
    });
   

    $(".mytext").on("keyup", function(e){

        if ((e.keyCode || e.which) == 13){
            myfunction();
            document.getElementById('mytext').value = "";
        }
    });
    //add chatroom list
    
   
});

function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";

}

/* Set the width of the side navigation to 0 and the left margin of the page content to 0, and the background color of body to white */
function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft = "0";

}

function redirectRoom()
{
    let roomName = $('#search_box').val();
    let username = '<%= username %>';

    $.post('/chat/enter', {roomName: roomName, username:username}, function(res) {
        location.href = res;
    });

    return false;
}
</script>
</body>
</html>