/* Basics */

html, body {
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: #444;
    background: #f0f0f0;
}

#logo {
    margin-top: 40px;
    width: 100%;
    text-align: center;
    position: relatvie;
}

#container {
    position: fixed;
    width: 340px;
    height: 558px;
    top:50%;
    left:50%;
    margin-top:-279px;
    margin-left:-170px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #ccc;
}

form {
    margin: 0 auto;
    margin-top : 20px;
}

input {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 12px;
    outline: none;
}

input[type=text], input[type=password] {
    color: #777;
    padding-left: 10px;
    margin: 10px;
    margin-top: 12px;
    margin-left: 18px;
    width: 290px;
    height: 35px;
    border: 1px solid #c7d0d2;
    border-radius: 2px;
}

input[type=text]:hover, input[type=password]:hover {
    border: 1px solid #b6bfc0;
    box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .7), 0 0 0 5px #f5f7f8;
}

input[type=text]:focus, input[type=password]:focus {
    border: 1px solid #a8c9e4;
    box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #e6f2f9;
}

#lower {
    background: #ecf2f5;
    width: 100%;
    height: 104px;
    margin-top: 20px;
    box-shadow: inset 0 1px 1px #fff;
    border-top :1px solid #ccc;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

input[type=submit] {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    width: 80px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #acd6ef;
    border-radius: 30px;
    border: 1px solid #66add6;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #2879a8;

}
    
form button {
    height: 25px;
    font-size: 8pt;
    padding-left: 10px;
    margin: 10px;
    margin-top: 12px;
    margin-left: 180px;
    border-radius: 12.5px;
    border: 1px solid #66add6;
    background-color: #acd6ef;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
}

form button:hover {
    font-size: 8pt;
    padding-left: 10px;
    margin: 10px;
    margin-top: 12px;
    margin-left: 180px;
    border-radius: 30px;
    border: 1px solid #66add6;
    background-color: #2879a8;
 
}